<mat-card>
  <mat-card-title-group>
    <mat-card-title>Recent blogposts</mat-card-title>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input
          type="search"
          matInput
          [formControl]="searchFormControl"
          placeholder="search phrase"
          (input)="onSearch($event)"
        />
      </mat-form-field>
    </form>
  </mat-card-title-group>

  <mat-card-content>
    <ngx-datatable
      class="material post_grid"
      [rows]="posts"
      [columnMode]="'force'"
      [headerHeight]="0"
      [footerHeight]="50"
      [loadingIndicator]="loading"
      rowHeight="auto"
      [limit]="5"
    >
      <ngx-datatable-column name="" [sortable]="false" [maxWidth]="150">
        <ng-template let-column="column" ngx-datatable-header-template>
        </ng-template>
        <ng-template
          let-value="value"
          let-row="row"
          ngx-datatable-cell-template
        >
          <img
            class="post_grid__img"
            src="https://picsum.photos/seed/{{ row.id }}/100"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Title">
        <ng-template let-column="column" ngx-datatable-header-template>
          <h1>Recent blog posts:</h1>
        </ng-template>
        <ng-template
          let-value="value"
          let-row="row"
          ngx-datatable-cell-template
        >
          <a class="post_grid__title" [routerLink]="['./posts', row.id]">
            <h2>{{ row.title }}</h2>
          </a>
          <p class="post_grid__author">
            {{ row.author }}
          </p>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
</mat-card>
